@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* .loader{

  height: 100vh; 
  position: fixed;
  inset: 0;           /*Pour fixer la position*/
/* z-index: 2;
background-color: rgba(242, 242, 242, 1);  /*En rgbA pour l'opacité MENTORAT*/
/* opacity: 0.9;


  &:after{
    content:"";
    margin: auto;
    margin-top: 200px;
    margin-bottom: 100px;
    border: 15px solid #9356DC;
    width: 100px;
    height: 100px;
    border-top-color: #FF79DA;
    border-bottom-color:#99e2d0;
    border-radius: 50%;
    animation: infiniteRotate 3s linear infinite, stopLoader;
    display: block;

   // animation-iteration-count: 2; //Début de piste
    //animation-fill-mode: both;


  }

  @keyframes infiniteRotate {
    0%{
      transform: rotate(0deg) scale(1);
      border-top-color:#99e2d0;
      border-bottom-color: #FF79DA;
    }

    25%{
      border-top-color:#FF79DA;
      border-bottom-color: #99e2d0;
    }

    50%{
      transform: rotate(360deg) scale(1.13);
      border-top-color:#99e2d0;
      border-bottom-color: #FF79DA;
    }

    75%{
      border-top-color:#FF79DA;
      border-bottom-color: #99e2d0;
    }

    100%{
      transform: rotate (720deg) scale(1);
      border-top-color:#99e2d0;
      border-bottom-color: #FF79DA;
    } 
  }

  @keyframes stopLoader {
    animation-delay: 2s ;
    opacity: 0;

  }

} */
/* GENERAL */
h1 {
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
  font-weight: bold;
}

h3 {
  padding: 10px 0 0 15px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  max-width: 1440px;
  margin: auto;
}

header {
  box-shadow: 0 0 1px grey;
  position: relative;
  z-index: 1;
}
header p {
  font-family: "Shrikhand", cursive;
  text-align: center;
  font-size: 30px;
}

/* MAIN */
.city {
  display: flex;
  justify-content: center;
  gap: 15px;
  background-color: #f3f3f3;
  font-size: 10px;
  padding: 15px;
}
.city p {
  font-size: 15px;
  font-weight: 800;
}
.city i {
  font-size: 15px;
}

.accroche {
  text-align: center;
  background-color: #FAFAFA;
  padding: 30px 0 100px 0;
}
.accroche p {
  margin-bottom: 50px;
}
.accroche .btn_explorer {
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 15px;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  transition-duration: 1s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  color: white;
  border: 0;
  text-decoration: none;
  font-weight: bold;
}
.accroche .btn_explorer:hover {
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  opacity: 0.5;
  transform: scale(1.01);
}

/* FONCTIONNEMENT */
.fonctionnement {
  padding: 20px;
  counter-reset: numbers;
}
@media (min-width: 800px) {
  .fonctionnement ol {
    display: flex;
    column-gap: 50px;
  }
}
.fonctionnement li {
  background-color: #F6F6F6;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  transform: scale(1.01);
  list-style-type: none;
  position: relative;
  box-shadow: 1px 2px 6px -2px grey;
}
.fonctionnement li::before {
  content: counter(numbers);
  counter-increment: numbers;
  background-color: #9356DC;
  color: white;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  bottom: 9px;
  left: -15px;
}
.fonctionnement li:hover {
  cursor: pointer;
  background-color: #f5edff;
}
.fonctionnement li:hover i {
  color: #9356DC;
}
@media (min-width: 800px) {
  .fonctionnement li {
    flex-grow: 1;
  }
}
.fonctionnement i.fas {
  padding-left: 20px;
  margin-right: 10px;
}

/* RESTAURANTS */
#restaurants {
  background-color: #F6F6F6;
  padding-bottom: 70px;
}
#restaurants h2 {
  padding-top: 50px;
  padding-left: 25px;
}

.card_wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
@media (min-width: 800px) {
  .card_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.card {
  height: 200px;
  gap: 20px;
  margin: 20px;
  border-radius: 15px;
  position: relative;
}
.card:hover {
  transform: scale(1.01);
}
.card a {
  display: block;
}
.card .card_image {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  display: block;
}
.card .card_new {
  position: absolute;
  background-color: #99E2D0;
  color: #09aa47;
  right: 20px;
  top: 10px;
  padding: 5px;
  font-weight: bold;
  border-radius: 2px;
}
.card .card_def {
  background-color: white;
  border-radius: 0 0 15px 15px;
  position: relative;
  box-shadow: 1px 2px 6px -2px grey;
}
.card .card_def p {
  padding: 0 0 15px 15px;
}
.card .card_def i {
  font-size: 25px;
  position: absolute;
  right: 25px;
  top: 10px;
  transition: all 2s ease-in-out;
}
.card .card_def .fas {
  /* Animation coeur */
  background: linear-gradient(to right, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: all 1s;
}
.card .card_def .fas:hover {
  opacity: 1;
  transform: scale(1.2);
}

/* RESTAURANT1 LA PALETTE DU GOUT */
img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

@media (min-width: 800px) {
  main {
    padding: 30px;
  }
}

.restau1_header {
  position: relative;
}
.restau1_header a {
  position: absolute;
  top: 25%;
  margin-left: 20px;
  font-size: 15px;
}

.restau1_title {
  background: #F2F2F2;
  border-radius: 30px 30px 0 0;
  margin-top: -150px;
  position: relative;
  height: 150px;
  display: flex;
}
.restau1_title h2 {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  padding: 30px 0 3px 15px;
  flex: 1;
}
.restau1_title .heart {
  position: relative;
  align-items: center;
  margin: 40px 50px 0 0;
  cursor: pointer;
}
.restau1_title .heart .far {
  position: absolute;
  font-size: 25px;
}
.restau1_title .heart .fas {
  font-size: 25px;
  background: linear-gradient(to right, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: all 1s;
}
.restau1_title .heart .fas:hover {
  opacity: 1;
  transform: scale(1.1);
}

/* Restau wrapper */
.restau1_wrapper {
  background: #f2f2f2;
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
  gap: 20px;
}
@media (min-width: 800px) {
  .restau1_wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.restau1_wrapper .restau1_menu {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restau1_wrapper h3 {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 5px;
}
.restau1_wrapper h3:after {
  position: absolute;
  content: "";
  background-color: #99e2d0;
  width: 45px;
  height: 3px;
  left: 0;
  bottom: 0;
  margin-left: 14px;
}
.restau1_wrapper .restau1_item {
  padding: 20px;
  display: flex;
  background: white;
  margin: 5px;
  padding: 0px;
  border-radius: 10px;
  box-shadow: 1px 2px 6px -2px grey;
  overflow: hidden;
  /*Afin de "cacher" ma checkbox */
  margin: 10px 0;
}
.restau1_wrapper .restau1_item:hover {
  cursor: pointer;
}
.restau1_wrapper .restau1_item:hover .price-ok {
  margin-right: 0;
}
.restau1_wrapper .restau1_item:hover i.fa-check-circle {
  animation: rotateCircle 0.5s ease-in-out;
}
@keyframes rotateCircle {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    tranform: rotate 0;
  }
}
.restau1_wrapper .restau1_item .price-ok {
  background-color: #99e2d0;
  border-radius: 0 10px 10px 0;
  padding: 15px;
  margin-right: -50px;
  width: 50px;
  transition: all 0.5s;
  display: flex;
  /* Pour l'alignement de la checkbox */
  align-items: center;
}
.restau1_wrapper .restau1_item i.fa-check-circle {
  color: white;
  font-size: 18px;
}
.restau1_wrapper .restau1_item .restau1_item_description {
  padding: 10px;
  overflow: hidden;
}
.restau1_wrapper .restau1_item h4, .restau1_wrapper .restau1_item p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.restau1_wrapper .restau1_item .price {
  font-weight: 800;
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  padding-bottom: 10px;
  margin-right: 20px;
}

/* FOOTER */
footer {
  background-color: #222;
  color: white;
  padding: 20px;
}
footer p {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  padding: 5px 0 10px 50px;
  display: flex;
}
footer ul {
  list-style-type: none;
}
footer li {
  margin: 10px;
}
footer li:hover {
  transform: scale(1.05);
  background: linear-gradient(to right, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  color: transparent;
}
footer .iconeRestaurant {
  margin-right: 12px;
}
footer .iconeHands {
  margin-right: 5px;
}
@media (min-width: 800px) {
  footer p {
    align-items: center;
    justify-content: center;
  }
  footer .footer_ul {
    display: flex;
    justify-content: center;
  }
  footer .footer_li {
    flex-direction: row;
    margin-left: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
